
.header{
    background-color: bisque;
    padding-left: 10px;
    justify-content: space-evenly;
}

.left {
    padding-left: 11%;
    /* position: relative; */
    /* left: 11%; */
}


nav{
   background-color: #e3f2fd;
}

.cropped {
    width: 200px; /* width of container */
    height: 260px; /* height of container */
    object-fit: cover;
    border: 3px solid black;
    border-radius: 80%;
}

.navbar{
    padding-left: 10px;
}

body{
    background-color: #e3f2fd;
}

.descript{
    padding-left: 10px;
    justify-content: center;   
}
                 
.card{
    margin: 20px;
}

#projects{
    margin-top: 20px;
    left: 11%;
}

/*override css class*/
.override{
    color: red;
}

.override{
    color:black;
}

/* min-width is mobile first design
 & max-width of desktop first design */

 /* so photo isnt getting written over*/
@media (max-width: 990px) {
    .break {
        flex-basis: 100%;
        height: 0;
      }
}

/* change text center in header*/
@media (max-width: 767px) {
    .left{
        left: 25%;;
    }
    .right {
        left: 25%;
    }

}