.header{
    background-color: bisque;
    padding-left: 10px;
    justify-content: space-evenly;
}

.left {
    position: relative;
    left: 11%;
}


nav{
   background-color: #e3f2fd;
}

.cropped {
    width: 200px; /* width of container */
    height: 260px; /* height of container */
    object-fit: cover;
    border: 3px solid black;
    border-radius: 80%;
}

.navbar{
    padding-left: 10px;
}

body{
    background-color: #e3f2fd;
}

.descript{
    padding-left: 10px;
    justify-content: center;   
}
                 
.card{
    margin: 20px;
}

#projects{
    margin-top: 20px;
    left: 11%;
}

/*override css class*/
.override{
    color: red;
}

.override{
    color:black;
}